
*.vsidx
Datetime/.vs/Datetime/v17/.suo
*.db
*.ipch
*.vcxproj
*.filters
*.user
*.obj
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.txt
*.db-shm
*.db-wal
*.sln
*.recipe
*.exe
.vs/Rudova_oop_in_c/v17/.wsuo
*.sqlite
Figures/.vs/Figures/v17/.suo
Figures/.vs/Figures/v17/.wsuo
*.opendb
/Figures/.vs
/.vs
